*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    overflow-x: hidden;
}
/* Header Options */
header{
    max-width: 100%;
    height: 80px;
    display: flex;
    background-color: #00b7f0;
    position: sticky;
    z-index: 10;
}
.Logo{
    position: relative;
    max-width: 100%;
    max-height: 30px;
    vertical-align: top;
    top: 30%;
    left: 4%;
}
ul{
    display:flex;
    position: absolute;
    top: 40%;
    left: 15%;
    list-style: none;
}
.Links{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Navigation-bar-For-Mobile-And-Tablet */

.Navigation-bar{
    position: absolute;
    color: white;
    font-size: 25px;
    background-color: #00b7f0;
    display: block;
    top:30%;
    left:1%;
    cursor: pointer;
    display: none;
}
.Navigate {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4d5050;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.Navigate a{
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight:bold;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}
.Navigate li{
    list-style: none;
}
  
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.Navigate .out {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.out{
    color:#6f7171;
    padding: 10px;
    
}
.out:hover{
    color:white;
}

/* Sign in / Registration */

.signreg{
    position: absolute;
    display: flex;
    right: 25px;
    height: 80px;
}
.Signlogo{
    position: absolute;
    left: -120%;
}

.hder-title{
    margin:20px;
    color: #fff;
    margin-left: 30px;
    font-weight: bold;
}
#right-bar,#right-bar-2{
    border: none;
    background-color: #4d5050;
    height: 100%;
    width: 30%;
    position:fixed;
    z-index: 11;
    top:0;
    right:0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
}
.times{
    position: absolute;
    color: white;
    text-decoration: none;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
#btn1{
    
    border:none;
    color:white;
    background-color:#00b7f0;
    padding: 10px; 
    right: 0;
}
#btn2{
    border: none;
    border-left: solid 1px greenyellow;
    color: white;
    background-color: #00b7f0;
    margin-left: 1%;
    padding: 10px;
    
    
}
#btn1:hover,#btn2:hover{
    background-color:rgb(80, 99, 187);
}
#hder-title-1{
    margin:20px;
    color: #fff;
    margin-left: 30px;
    font-weight: bold;
    border: none;
    background-color:#00b7f0;
    border:none;
    width: 100%;
    height:80px;
    margin: 0;
    margin-left: 0;
}
.Signlogo{
    position: absolute;
    margin-left: 73.5%;
    margin-top: 20px;
}
/* Registration Panel */
.reg0{
    margin: 1px 3px;
    width: 160px;
    padding: 7px;
}
.reg1{
    margin: 1px 3px;
    width: 160px;
    padding: 7px;
}
.regsubmit{
    margin: 10px 35px;
    width: 80%;
    padding: 7px;
    background-color:#00b7f0;
    border: none;
}
/* Language Switch */
.selected-lang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height:2;
    width: 120px;
    float: right;
}
.selected-lang:before{
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("https://www.countryflags.io/ge/flat/32.png");
}
.lang-menu{
    margin-top: 25px;
    position: relative;
    float: right;

}
.lang-menu ul{
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 60px;
    display: none;
    position: absolute;
    top:0;
    left: 0;

}
.lang-menu ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.lang-menu ul li a{
    width: 58px;
    display: block;
    padding: 5px 10px;
}
.lang-menu ul li a:hover{
    background-color: #f2f2f2;
}
.lang-menu ul li a:before{
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 10px;
}
.lang-menu:hover ul{
    display: block;
    cursor: pointer;
}
.en:before{
    background-image: url("https://www.countryflags.io/us/flat/32.png");
}
.ru:before{
    background-image: url("https://www.countryflags.io/RU/flat/32.png");
}
/* Slides */
.sandy{
    max-width: 40%;
    max-height: 250px;
    margin-top: 150px;
    position: absolute;
}
.sandy-title-under{
    color: white;
    position: absolute;
    margin-top: 280px;
    margin-left: 50px;
    max-width: 350px;
}
.sandy-title{
    color: white;
    font-size:x-large;
    position: absolute;
    margin-top: 250px;
    margin-left: 150px;
}
.sandy-title-2{
    color: white;
    font-size:x-large;
    position: absolute;
    margin-top: 230px;
    margin-left: 50px;
    max-width:400px;
}
.slide,.first{
    position: relative;
    width: 100%;
}
.slider{
    max-width:100%;
    height:500px;
    overflow: hidden;
    margin: auto;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img{
    width:100%;
    height:500px;

}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40d3dc;
    padding:  5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background:#40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
    
}

.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3cd;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3cd;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3cd;
}

/* Bottom side */
.bottom{
    display: flex;
    margin: 100px;
}
.exc1,.exc2,.exc3{
    width: 50%;
    margin-left: 120px;
}
.undert{
    margin-left: 150px;
    max-width: 200px;
}
/* News Feed */
.newsfeed{
    display: flex;
    min-height: 450px;
}
[class*="news2."]{
    width:80%;
    height: 200px;
    margin: 20px;
}
.comment{
    width: 250px;
    margin-left:30px;
}
/* Embed */
.embedvideo{
    min-width: 100%;
    min-height:500px;
}

/* Footer Options */
footer{
    max-width: 100%;
    height: 250px;
    background-color: #393b3c;
    display: flex;
}
.Forfooter{
    border: none;
    min-height: 50px;
    margin: auto 30%;
}
.icon1{
    width: 150px;
    height: 50px;

}
.icon2{
    width: 150px;
    height: 50px;
}
.uc{
    position: absolute;
    color: white;
    margin-top: 150px;
    margin-left: 35%;
}

@media only screen and (max-width:564px){
    .Links{
        display:none;
    }
    .Logo{
        left: 6%;
    }
    .signreg{
        margin-right: -5%;
    }
    .Signlogo{
        left: -90%;
        top: 10%;
        width: 18%;
    }
    #right-bar,#right-bar-2{
        width:70%;
    }
    .Navigation-bar{
        display: block;
    }
    .bottom{
        flex-wrap: wrap;
        position: relative;
        margin-left: -15%;
        
    }
    .newsfeed{
        flex-wrap: wrap;
        position: relative;
        right: 0%;
    }
    .container{
        max-width: 100%;
    }
    footer{
        flex-wrap: wrap;
    }
    .Forfooter{
        margin-left:  30%;
        margin-top: -20%;
        width: 120px;
    }
    .uc{display: none;}
    .sandy,.sandy-title,.sandy-title-2,.sandy-title-under{display:none}
}
@media only screen and (max-width:1000px) and (min-width:565px) {
    .Links{
        display: none;
    }
    .Logo{
        left: 10%;
    }
    .Signlogo{
        left: -100%;
    }
    #right-bar,#right-bar-2{
        width:50%;
    }
    .Navigation-bar{
        display: block;
    }
    .bottom{
        flex-wrap: wrap;
        position: relative;
        left: -5%;
        
    }
    .newsfeed{
        flex-wrap: wrap;
        max-width: 50%;
        margin: auto;
    }
    .container{
        max-width: 100%;
    }
    footer{
        flex-wrap: wrap;
    }
    .Forfooter{
        margin: auto 20%;
    }
    .uc{
        display: block;
        margin: auto 30%;
    }
    .sandy,.sandy-title,.sandy-title-2,.sandy-title-under{display:none}
}


