body {
    background-image: url(pictures/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    padding: 50px;
}
* {
    box-sizing: border-box;
}
.img {
    float: left;
    width: 20.30%;
    padding: 20px;
    margin-left: 50px;
}