.box1 {
    border: solid;
    margin-right: 800px;
    height: 220px;
    padding: 20px;
}
.box2 {
    border: solid;
    margin-right: 800px;
    height: 220px;
    padding: 20px;
    background-color: #ffffb3;
}
.box3 {
    border: solid;
    margin-right: 800px;
    height: 220px;
    padding: 20px;
}
.box4 {
    border: solid;
    margin-right: 800px;
    height: 400px;
    padding: 20px;
}
.likeline1 {
    border: 3px solid red;
    width: 220px;

}
.likeline2 {
    border: 3px solid blue;
    width: 220px;
}
.box5 {
    border: solid;
    margin-right: 800px;
    height: 200px;
    padding: 20px;
}
.box6 {
    border: solid;
    margin-right: 790px;
    height: 200px;
    padding: 20px;
    background-color: lightgrey;
}